@font-face {
    font-family: Almoni;
    src: url("./assets/fonts/almoni/almoni-tzar-regular-aaa.otf");
    font-weight: 500;

}
@font-face {
    font-family: Almoni;
    src: url("./assets/fonts/almoni/almoni-tzar-demibold-aaa.otf");
    font-weight: 600;
}

@font-face {
    font-family: Almoni;
    src: url("./assets/fonts/almoni/almoni-tzar-bold-aaa.otf");
    font-weight: 700;
}

html,
body, #main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  direction: rtl;
  font-family: "Almoni";
  font-weight: bold;
  user-select: none;
}

/* mainPage */
.questionMark {
    width: 4vw;
    padding-left: 0.3em;
}

.textHomePage {
    display: flex;
    align-items: flex-start;
    width: 80vw;
    top: 89vw;
    font-size: 1.1em;
    font-weight: 600;
}

.mapButton  {
    width: 15vw;
    bottom: 9vw;
}

/* general */
#home-page, #map-page {
    background-image: url(./assets/media/SVG/bgMain.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#xAndYPage {
    background-image: url(./assets/media/SVG/xAndYStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#blindPage {
    background-image: url(./assets/media/SVG/blindStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#spiderPage {
    background-image: url(./assets/media/SVG/spiderStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#keyboardPage {
    background-image: url(./assets/media/SVG/keyboardStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#spiralPage {
    background-image: url(./assets/media/SVG/spiralStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#raftPage {
    background-image: url(./assets/media/SVG/raftStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#handPage {
    background-image: url(./assets/media/SVG/handStationBg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.menuButton {
    width: 9vw;
    position: absolute;
    top: 3vw;
    right: 3vw;
}

.exitButton {
    width: 6vw;
    position: absolute;
    top: 3vw;
    right: 3vw;
}

.title {
   top: 9vw; 
   width: 50vw;
}

video {
    top: 28vw;
    width: 90vw;
    height: 51vw;
}

/* map */
#map {
    background-image: url(./assets/media/SVG/map.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90vw;
    height: 134vw;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 0.65fr 0.85fr 0.25fr 1.2fr 1.2fr 0.55fr;
    grid-template-rows: 2.3fr 0.95fr 0.95fr 1.1fr 0.7fr 1.05fr 0.95fr 1.6fr;
}

/* stations */
.xAndYStation {
    grid-area: 2/ 2/ span 1/ span 1;
}

.keyboardStation {
    grid-area: 3/ 2/ span 1/ span 1;
}

.blindStation {
    grid-area: 3/ 4/ span 2/ span 1;
}

.handStation {
    grid-area: 4/ 2/ span 1/ span 1;
}

.raftStation {
    grid-area: 5/ 4/ span 1/ span 2;
}

.spiderStation {
    grid-area: 6/ 2/ span 1/ span 1;
}

.spiralStation {
    grid-area: 6/ 4/ span 1/ span 1;
}

ol, ul {
    padding-inline-start: 1em;
    direction: rtl;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.stationTitle {
    font-size: 1.4em;
    background: -webkit-linear-gradient(180deg, #85d1f5, #0790d1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    direction: rtl;
}

.text {
    width: 80vw;
    top: 84vw;
    font-size: 1.1em;
    font-weight: 600;
    overflow-y: scroll;
    height: 70vw;
    direction: ltr;
    text-align: right;
    padding-right: 0.6em;
}

.text > div {
    direction: rtl;
}

.yellow {
    color: #edda9d;
    text-shadow: -0.2px 0.5px #f7b173;
    font-size: 1.2em;
}

.blue {
    color: #7fcad2;
    text-shadow: -0.2px 0.5px #40b2a7;
    font-size: 1.2em;
}

.red {
    color: #f29597;
    text-shadow: -0.2px 0.5px #ee726d;
    font-size: 1.2em;
}

/* menu */
.menuPage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 50vw;
    background-color: #dcf0f9;
}

.blueBg {
    background-image: url("./assets/media/SVG/blueBg.svg");
}

.redBg {
    background-image: url("./assets/media/SVG/redBg.svg");
}

.yellowBg {
    background-image: url("./assets/media/SVG/yellowBg.svg");
}

.menuBg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 15vw;
    color: white;
    font-size: 1.8em;
    text-align: center;
    line-height: 2;
    margin-top: 0.2em;
}

.exitMenuButton {
    width: 6vw;
    position: absolute;
    top: 3vw;
    right: 3vw;
}

.menuPage .odt {
    margin-top: 1.7em;
}

/* scrollBar */

/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e7e7e7; 
    border-radius: 0.2em;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2b2b2; 
    border-radius: 0.2em;
}


/* tools */
.darkScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.bg {
    direction: rtl; 
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.centerX {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.flexCenter {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: bold;
    font-size: 1.2em;
}

.hidden {
    display: none;
}
